<span class="flex bg-transparent items-center text-base">
	<div class="mx-auto my-0 relative overflow-hidden transition ease delay-75 w-9 h-9">
		<img class="w-full h-full block object-scale-down" src="https://ricardocastro.vercel.app/logo.png" alt="logo ricardo castro" />
	</div>

	<b class="md:hidden text-2xl ml-3">RC</b>
	<b class="hidden md:inline-block text-2xl ml-3">Ricardo Castro</b>
</span>
